@import 'reset';

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

input {
  margin: 2px;
}

.container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bigDiv {
  height: 150px;
}

.optional {
  padding-top: 10%;
}

#thankYou {
  text-align: center;
}

#logo {
  margin: -5% -5% -6% 0%;
}